body, ul, li, p{
    margin: 0px
    padding: 0px;
    list-style: none;  /* tira a marcação do link(bolinha por exemplo) *\
    font-size: 1.2rem;
    font-family: arial;
}
/* defina o tamanho da imagem do logo - largura */
.logo{
    width: 200px;
}

/* defina as caracteristicas da tag ancor *\
a{
    
